In [92]:
import numpy as np 
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import string
import nltk
import re
import math
from string import punctuation

In [105]:
def Words_Extract(df,words):
    for tweet in df['tweet']:
        for word in tweet:
            if word not in words:
                words.append(word)

In [94]:
def generate_N_grams(words,ngram):
  temp=zip(*[words[i:] for i in range(0,ngram)])
  ans=[' '.join(ngram) for ngram in temp]
  return ans

In [95]:
def BoW(df,words):
    vectors = list()
    for tweet in df['tweet']:
        wordfreq=dict()
        tweet = " ".join(tweet)
        print(tweet)
        for word in words:
            
            wordfreq[word]=tweet.count(word)
        vectors.append(wordfreq.values())

    bow=dict()
    for idx, i in enumerate(vectors):
        bow[f'bow_{idx}'] = i

    df['Bow']= bow.values()

In [96]:
def TF_IDF(df):
    TFIDF=list()
    N=10

    for tweet in df['tweet']:
        
        TF_IDF=dict()
        j=0
        idf=0
        for w in tweet:
            j+=1
        
        for word in tweet:
            for t in df['tweet']:
                if word in t:
                    idf+=1
            TF_IDF[word]=max(0,((tweet.count(word))/j) * (1 + math.log(N/idf))) #relu fucntion
                    

        
        TFIDF.append(TF_IDF.values())

    terminv=dict()
    for idx, i in enumerate(TFIDF):
        terminv[f'tfidf_{idx}'] = i

    df['TF_Idf']= terminv.values()

WITHOUT PREPROCESSING

In [97]:
df=pd.read_csv('labeled_data.csv')
df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [98]:

df.drop(['Unnamed: 0','count','hate_speech','offensive_language','neither','class'],axis=1,inplace=True)

In [99]:
df=df[:10]
print(df.head(10))
df.shape

                                               tweet
0  !!! RT @mayasolovely: As a woman you shouldn't...
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
5  !!!!!!!!!!!!!!!!!!"@T_Madison_x: The shit just...
6  !!!!!!"@__BrighterDays: I can not just sit up ...
7  !!!!&#8220;@selfiequeenbri: cause I'm tired of...
8  " &amp; you might not get ya bitch back &amp; ...
9  " @rhythmixx_ :hobbies include: fighting Maria...

(10, 1)

In [100]:
df['tweet']=df['tweet'].map(lambda v:v.split(" "))

In [106]:
words=list()
Words_Extract(df,words)

In [107]:
words=list(words)
print(words)

['!!!', 'RT', '@mayasolovely:', 'As', 'a', 'woman', 'you', "shouldn't", 'complain', 'about', 'cleaning', 'up', 'your', 'house.', '&amp;', 'as', 'man', 'should', 'always', 'take', 'the', 'trash', 'out...', '!!!!!', '@mleew17:', 'boy', 'dats', 'cold...tyga', 'dwn', 'bad', 'for', 'cuffin', 'dat', 'hoe', 'in', '1st', 'place!!', '!!!!!!!', '@UrKindOfBrand', 'Dawg!!!!', '@80sbaby4life:', 'You', 'ever', 'fuck', 'bitch', 'and', 'she', 'start', 'to', 'cry?', 'be', 'confused', 'shit', '!!!!!!!!!', '@C_G_Anderson:', '@viva_based', 'look', 'like', 'tranny', '!!!!!!!!!!!!!', '@ShenikaRoberts:', 'The', 'hear', 'me', 'might', 'true', 'or', 'it', 'faker', 'than', 'who', 'told', 'ya', '&#57361;', '!!!!!!!!!!!!!!!!!!"@T_Madison_x:', 'just', 'blows', 'me..claim', 'so', 'faithful', 'down', 'somebody', 'but', 'still', 'fucking', 'with', 'hoes!', '&#128514;&#128514;&#128514;"', '!!!!!!"@__BrighterDays:', 'I', 'can', 'not', 'sit', 'HATE', 'on', 'another', '..', 'got', 'too', 'much', 'going', 'on!"', '!!!!&#8220;@selfiequeenbri:', 'cause', "I'm", 'tired', 'of', 'big', 'bitches', 'coming', 'us', 'skinny', 'girls!!&#8221;', '"', 'get', 'back', 'thats', 'that', '@rhythmixx_', ':hobbies', 'include:', 'fighting', 'Mariam"\n\nbitch']

In [108]:
ngram=generate_N_grams(words,2)
print(ngram)

['!!! RT', 'RT @mayasolovely:', '@mayasolovely: As', 'As a', 'a woman', 'woman you', "you shouldn't", "shouldn't complain", 'complain about', 'about cleaning', 'cleaning up', 'up your', 'your house.', 'house. &amp;', '&amp; as', 'as man', 'man should', 'should always', 'always take', 'take the', 'the trash', 'trash out...', 'out... !!!!!', '!!!!! @mleew17:', '@mleew17: boy', 'boy dats', 'dats cold...tyga', 'cold...tyga dwn', 'dwn bad', 'bad for', 'for cuffin', 'cuffin dat', 'dat hoe', 'hoe in', 'in 1st', '1st place!!', 'place!! !!!!!!!', '!!!!!!! @UrKindOfBrand', '@UrKindOfBrand Dawg!!!!', 'Dawg!!!! @80sbaby4life:', '@80sbaby4life: You', 'You ever', 'ever fuck', 'fuck bitch', 'bitch and', 'and she', 'she start', 'start to', 'to cry?', 'cry? be', 'be confused', 'confused shit', 'shit !!!!!!!!!', '!!!!!!!!! @C_G_Anderson:', '@C_G_Anderson: @viva_based', '@viva_based look', 'look like', 'like tranny', 'tranny !!!!!!!!!!!!!', '!!!!!!!!!!!!! @ShenikaRoberts:', '@ShenikaRoberts: The', 'The hear', 'hear me', 'me might', 'might true', 'true or', 'or it', 'it faker', 'faker than', 'than who', 'who told', 'told ya', 'ya &#57361;', '&#57361; !!!!!!!!!!!!!!!!!!"@T_Madison_x:', '!!!!!!!!!!!!!!!!!!"@T_Madison_x: just', 'just blows', 'blows me..claim', 'me..claim so', 'so faithful', 'faithful down', 'down somebody', 'somebody but', 'but still', 'still fucking', 'fucking with', 'with hoes!', 'hoes! &#128514;&#128514;&#128514;"', '&#128514;&#128514;&#128514;" !!!!!!"@__BrighterDays:', '!!!!!!"@__BrighterDays: I', 'I can', 'can not', 'not sit', 'sit HATE', 'HATE on', 'on another', 'another ..', '.. got', 'got too', 'too much', 'much going', 'going on!"', 'on!" !!!!&#8220;@selfiequeenbri:', '!!!!&#8220;@selfiequeenbri: cause', "cause I'm", "I'm tired", 'tired of', 'of big', 'big bitches', 'bitches coming', 'coming us', 'us skinny', 'skinny girls!!&#8221;', 'girls!!&#8221; "', '" get', 'get back', 'back thats', 'thats that', 'that @rhythmixx_', '@rhythmixx_ :hobbies', ':hobbies include:', 'include: fighting', 'fighting Mariam"\n\nbitch']

In [109]:
BoW(df,ngram)
df.head()

!!! RT @mayasolovely: As a woman you shouldn't complain about cleaning up your house. &amp; as a man you should always take the trash out...
!!!!! RT @mleew17: boy dats cold...tyga dwn bad for cuffin dat hoe in the 1st place!!
!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby4life: You ever fuck a bitch and she start to cry? You be confused as shit
!!!!!!!!! RT @C_G_Anderson: @viva_based she look like a tranny
!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you hear about me might be true or it might be faker than the bitch who told it to ya &#57361;
!!!!!!!!!!!!!!!!!!"@T_Madison_x: The shit just blows me..claim you so faithful and down for somebody but still fucking with hoes! &#128514;&#128514;&#128514;"
!!!!!!"@__BrighterDays: I can not just sit up and HATE on another bitch .. I got too much shit going on!"
!!!!&#8220;@selfiequeenbri: cause I'm tired of you big bitches coming for us skinny girls!!&#8221;
" &amp; you might not get ya bitch back &amp; thats that "
" @rhythmixx_ :hobbies include: fighting Mariam"

bitch

,tweet,Bow
0,"[!!!, RT, @mayasolovely:, As, a, woman, you, s...","(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,"[!!!!!, RT, @mleew17:, boy, dats, cold...tyga,...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,"[!!!!!!!, RT, @UrKindOfBrand, Dawg!!!!, RT, @8...","(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,"[!!!!!!!!!, RT, @C_G_Anderson:, @viva_based, s...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,"[!!!!!!!!!!!!!, RT, @ShenikaRoberts:, The, shi...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [110]:
TF_IDF(df)
df.head()

,tweet,Bow,TF_Idf
0,"[!!!, RT, @mayasolovely:, As, a, woman, you, s...","(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","(0.13210340371976184, 0.06043302495063963, 0.0..."
1,"[!!!!!, RT, @mleew17:, boy, dats, cold...tyga,...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","(0.20641156831212787, 0.09442660148537442, 0.0..."
2,"[!!!!!!!, RT, @UrKindOfBrand, Dawg!!!!, RT, @8...","(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","(0.15726595680924027, 0.07025102243166752, 0.0..."
3,"[!!!!!!!!!, RT, @C_G_Anderson:, @viva_based, s...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","(0.36695389922156063, 0.16786951375177675, 0.1..."
4,"[!!!!!!!!!!!!!, RT, @ShenikaRoberts:, The, shi...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","(0.1270225035766941, 0.05810867783715349, 0.05..."

WITH PREPROCESSING

In [111]:
pp_df=pd.read_csv('labeled_data.csv')
pp_df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [112]:
pp_df.drop(['Unnamed: 0','count','hate_speech','offensive_language','neither','class'],axis=1,inplace=True)
pp_df=pp_df[:10]
print(pp_df.head(10))
df.shape

                                               tweet
0  !!! RT @mayasolovely: As a woman you shouldn't...
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
5  !!!!!!!!!!!!!!!!!!"@T_Madison_x: The shit just...
6  !!!!!!"@__BrighterDays: I can not just sit up ...
7  !!!!&#8220;@selfiequeenbri: cause I'm tired of...
8  " &amp; you might not get ya bitch back &amp; ...
9  " @rhythmixx_ :hobbies include: fighting Maria...

(10, 3)

In [72]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [113]:
# pp_df['tweet'] = pp_df['tweet'].str.replace(r'[^\w\s]+', '')
#pp_df['tweet']=pp_df['tweet'].str.lower()
# pp_df['tweet'] = pp_df['tweet'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

pp_df["tweet"] = pp_df["tweet"].map(lambda v : ''.join([i for i in list(v) if i not in punctuation]))
pp_df["tweet"] = pp_df["tweet"].map(lambda v : [word for word in v.lower().split(" ")])

In [115]:
words=list()
Words_Extract(pp_df,words)

In [79]:
words=list(words)
print(words)

['', 'us', 'much', 'start', 'got', 'cause', 'faithful', 'i', 'ya', 'your', 'fuck', 'than', 'sit', 'out', 'girls8221', 'boy', 'or', 'bad', 'still', '80sbaby4life', 'include', '8220selfiequeenbri', 'and', 'rhythmixx', 'but', 'should', 'me', 'trash', 'urkindofbrand', 'another', 'be', 'true', 'for', 'down', 'of', 'with', 'dats', 'ever', '57361', 'shouldnt', 'mleew17', 'who', 'hate', 'it', 'up', 'take', 'im', 'coldtyga', 'woman', 'mayasolovely', 'you', 'hoe', 'hobbies', 'like', 'that', 'the', 'might', 'vivabased', 'tranny', 'too', 'cleaning', 'look', 'faker', 'as', '128514128514128514', 'dwn', 'going', 'dawg', 'just', 'cuffin', 'brighterdays', 'back', 'always', '1st', 'fucking', 'in', 'rt', 'house', 'hear', 'man', 'thats', 'can', 'mariam\n\nbitch', 'about', 'meclaim', 'coming', 'confused', 'she', 'somebody', 'get', 'so', 'amp', 'hoes', 'tmadisonx', 'fighting', 'a', 'big', 'shit', 'place', 'bitch', 'shenikaroberts', 'told', 'dat', 'not', 'cganderson', 'on', 'cry', 'blows', 'complain', 'skinny', 'tired', 'bitches', 'to']

In [116]:
ngram=generate_N_grams(words,2)
print(ngram)

[' rt', 'rt mayasolovely', 'mayasolovely as', 'as a', 'a woman', 'woman you', 'you shouldnt', 'shouldnt complain', 'complain about', 'about cleaning', 'cleaning up', 'up your', 'your house', 'house amp', 'amp man', 'man should', 'should always', 'always take', 'take the', 'the trash', 'trash out', 'out mleew17', 'mleew17 boy', 'boy dats', 'dats coldtyga', 'coldtyga dwn', 'dwn bad', 'bad for', 'for cuffin', 'cuffin dat', 'dat hoe', 'hoe in', 'in 1st', '1st place', 'place urkindofbrand', 'urkindofbrand dawg', 'dawg 80sbaby4life', '80sbaby4life ever', 'ever fuck', 'fuck bitch', 'bitch and', 'and she', 'she start', 'start to', 'to cry', 'cry be', 'be confused', 'confused shit', 'shit cganderson', 'cganderson vivabased', 'vivabased look', 'look like', 'like tranny', 'tranny shenikaroberts', 'shenikaroberts hear', 'hear me', 'me might', 'might true', 'true or', 'or it', 'it faker', 'faker than', 'than who', 'who told', 'told ya', 'ya 57361', '57361 tmadisonx', 'tmadisonx just', 'just blows', 'blows meclaim', 'meclaim so', 'so faithful', 'faithful down', 'down somebody', 'somebody but', 'but still', 'still fucking', 'fucking with', 'with hoes', 'hoes 128514128514128514', '128514128514128514 brighterdays', 'brighterdays i', 'i can', 'can not', 'not sit', 'sit hate', 'hate on', 'on another', 'another got', 'got too', 'too much', 'much going', 'going 8220selfiequeenbri', '8220selfiequeenbri cause', 'cause im', 'im tired', 'tired of', 'of big', 'big bitches', 'bitches coming', 'coming us', 'us skinny', 'skinny girls8221', 'girls8221 get', 'get back', 'back thats', 'thats that', 'that rhythmixx', 'rhythmixx hobbies', 'hobbies include', 'include fighting', 'fighting mariam\n\nbitch']

In [118]:
BoW(pp_df,ngram)
pp_df.head()

 rt mayasolovely as a woman you shouldnt complain about cleaning up your house amp as a man you should always take the trash out
 rt mleew17 boy dats coldtyga dwn bad for cuffin dat hoe in the 1st place
 rt urkindofbrand dawg rt 80sbaby4life you ever fuck a bitch and she start to cry you be confused as shit
 rt cganderson vivabased she look like a tranny
 rt shenikaroberts the shit you hear about me might be true or it might be faker than the bitch who told it to ya 57361
tmadisonx the shit just blows meclaim you so faithful and down for somebody but still fucking with hoes 128514128514128514
brighterdays i can not just sit up and hate on another bitch  i got too much shit going on
8220selfiequeenbri cause im tired of you big bitches coming for us skinny girls8221
 amp you might not get ya bitch back amp thats that
 rhythmixx hobbies include fighting mariam

bitch

,tweet,Bow
0,"[, rt, mayasolovely, as, a, woman, you, should...","(1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ..."
1,"[, rt, mleew17, boy, dats, coldtyga, dwn, bad,...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,"[, rt, urkindofbrand, dawg, rt, 80sbaby4life, ...","(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,"[, rt, cganderson, vivabased, she, look, like,...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,"[, rt, shenikaroberts, the, shit, you, hear, a...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [119]:
 TF_IDF(pp_df)
pp_df.head()

,tweet,Bow,TF_Idf
0,"[, rt, mayasolovely, as, a, woman, you, should...","(1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...","(0.04892574205256839, 0.02950542942130036, 0.0..."
1,"[, rt, mleew17, boy, dats, coldtyga, dwn, bad,...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","(0.0764464719571381, 0.04610223347078181, 0.04..."
2,"[, rt, urkindofbrand, dawg, rt, 80sbaby4life, ...","(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","(0.058244931014962364, 0.029224078041909973, 0..."
3,"[, rt, cganderson, vivabased, she, look, like,...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","(0.13590483903491218, 0.08195952617027877, 0.0..."
4,"[, rt, shenikaroberts, the, shit, you, hear, a...","(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","(0.04704398274285422, 0.028370605212788808, 0...."