In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [2]:
def theta_init(X):
    theta = np.random.randn(len(X[0, :])+1, 1)
    return theta

In [3]:
def sigmoid_function(X):
    return 1/(1+math.e**(-X))

In [4]:
def generateXvector(X):
  vectorX = np.c_[np.ones((len(X), 1)), X]
  return vectorX

In [5]:
def Logistics_Regression(X,y,learningrate, iterations):
    y_new = np.reshape(y, (len(y), 1))
    cost_lst = []
    vectorX = generateXvector(X)
    theta = theta_init(X)
    m = len(X)
    for i in range(iterations):
        print(theta.shape, theta)
        gradients = 2/m * vectorX.T.dot(sigmoid_function(vectorX.dot(theta)) - y_new)
        theta = theta - learningrate * gradients
        y_pred = sigmoid_function(vectorX.dot(theta))
        cost_value = - np.sum(np.dot(y_new.T,np.log(y_pred)+ np.dot((1-y_new).T,np.log(1-y_pred)))) /(len(y_pred))
        cost_lst.append(cost_value)
    plt.plot(np.arange(1,iterations),cost_lst[1:], color = 'red')
    plt.title('Cost function Graph')
    plt.xlabel('Number of iterations')
    plt.ylabel('Cost')
    return theta

In [11]:
# UNQ_C2 GRADED FUNCTION: gradientDescent
def gradientDescent(x, y, theta, alpha, num_iters):
    '''
    Input:
        x: matrix of features which is (m,n+1)
        y: corresponding labels of the input matrix x, dimensions (m,1)
        theta: weight vector of dimension (n+1,1)
        alpha: learning rate
        num_iters: number of iterations you want to train your model for
    Output:
        J: the final cost
        theta: your final weight vector
    Hint: you might want to print the cost to make sure that it is going down.
    '''
    ### START CODE HERE ###
    # get 'm', the number of rows in matrix x
    m = x.shape[0]
    
    for i in range(0, num_iters):
        
        # get z, the dot product of x and theta
        z = x @ theta
        
        # get the sigmoid of z
        h = sigmoid_function(z)
        
        # calculate the cost function
        J = (-1 / m) * (y.T @ np.log(h) + (1 - y).T @ np.log(1 - h))

        # update the weights theta
        theta = theta - (alpha / m) * (x.T @ (h - y))
        
    ### END CODE HERE ###
    J = float(J)
    return J, theta

In [8]:
df=pd.read_csv('Machine Learning Algos - Logistic Regression.csv')[["Height (cm)", "Label"]]
df.dropna(inplace=True)

In [ ]:
df.head()

   Height (cm)  Label
0        120.0    0.0
1        124.0    0.0
2        125.0    0.0
3        128.0    0.0
4        130.0    0.0

In [9]:
X=df[['Height (cm)']].to_numpy()

y=df[['Label']].to_numpy()
theta=np.zeros((1,1))
print(X.shape, y.shape)

(12, 1) (12, 1)

In [12]:
theta=gradientDescent(X,y,theta,0.01,1000)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: RuntimeWarning: divide by zero encountered in log
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: RuntimeWarning: invalid value encountered in matmul

In [13]:
theta

(17.38360389481999, array([[0.78189113]]))