In [260]:
import numpy as np 
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import string
import nltk
import re
import math
from string import punctuation

In [261]:
def Words_Extract(df,words):
    for tweet in df['tweet']:
        for word in tweet:
            if word not in words:
                words.add(word)

In [262]:
def BoW(df,words):
    vectors = list()
    for tweet in df['tweet']:
        wordfreq=dict()
        for word in words:
            wordfreq[word]=tweet.count(word)
        vectors.append(wordfreq.values())

    bow=dict()
    for idx, i in enumerate(vectors):
        bow[f'bow_{idx}'] = i

    df['Bow']= bow.values()

In [263]:
def TF_IDF(df):
    TFIDF=list()
    N=10

    for tweet in df['tweet']:
        
        TF_IDF=dict()
        j=0
        idf=0
        for w in tweet:
            j+=1
        
        for word in tweet:
            for t in df['tweet']:
                if word in t:
                    idf+=1
            TF_IDF[word]=max(0,((tweet.count(word))/j) * (1 + math.log(N/idf))) #relu fucntion
                    

        
        TFIDF.append(TF_IDF.values())

    terminv=dict()
    for idx, i in enumerate(TFIDF):
        terminv[f'tfidf_{idx}'] = i

    df['TF_Idf']= terminv.values()

WITHOUT PREPROCESSING

In [264]:
df=pd.read_csv('labeled_data.csv')
df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [265]:

df.drop(['Unnamed: 0','count','hate_speech','offensive_language','neither','class'],axis=1,inplace=True)

In [266]:
df=df[:10]
print(df.head(10))
df.shape

                                               tweet
0  !!! RT @mayasolovely: As a woman you shouldn't...
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
5  !!!!!!!!!!!!!!!!!!"@T_Madison_x: The shit just...
6  !!!!!!"@__BrighterDays: I can not just sit up ...
7  !!!!&#8220;@selfiequeenbri: cause I'm tired of...
8  " &amp; you might not get ya bitch back &amp; ...
9  " @rhythmixx_ :hobbies include: fighting Maria...

(10, 1)

In [267]:
df['tweet']=df['tweet'].map(lambda v:v.split(" "))

In [268]:
words=set()
Words_Extract(df,words)

In [269]:
words=list(words)
print(words)

['You', 'hear', 'be', '&amp;', 'another', 'dwn', 'the', '!!!!!!!!!!!!!!!!!!"@T_Madison_x:', 'can', 'and', '!!!!!', 'fucking', 'us', 'bad', 'RT', 'take', 'me..claim', 'just', 'girls!!&#8221;', 'skinny', '!!!!!!!!!', 'blows', 'me', '!!!!!!!!!!!!!', 'get', '&#128514;&#128514;&#128514;"', 'always', 'your', 'trash', 'cause', 'a', 'Dawg!!!!', '!!!', '!!!!!!"@__BrighterDays:', '@rhythmixx_', '@ShenikaRoberts:', 'much', 'too', 'to', 'big', 'who', '@C_G_Anderson:', 'As', 'like', 'house.', 'on', 'with', 'complain', 'include:', 'confused', '&#57361;', 'hoes!', 'cleaning', 'cold...tyga', 'boy', 'faker', 'tranny', 'in', 'HATE', '@mleew17:', 'might', '@mayasolovely:', 'that', 'fuck', '@viva_based', 'she', 'true', 'dat', 'place!!', 'of', 'about', 'sit', 'got', 'back', 'start', 'it', '"', 'bitch', '@80sbaby4life:', 'as', 'dats', 'told', 'going', "I'm", 'fighting', 'woman', 'tired', 'ya', 'look', 'somebody', 'I', 'coming', 'man', '!!!!&#8220;@selfiequeenbri:', "shouldn't", 'cry?', 'not', 'ever', '..', 'down', 'or', 'should', 'for', 'cuffin', 'Mariam"\n\nbitch', 'thats', 'than', 'still', 'shit', ':hobbies', '@UrKindOfBrand', 'you', 'The', 'bitches', 'so', 'hoe', 'on!"', '1st', 'out...', 'faithful', '!!!!!!!', 'but', 'up']

In [270]:
BoW(df,words)
df.head()

,tweet,Bow
0,"[!!!, RT, @mayasolovely:, As, a, woman, you, s...","(0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, ..."
1,"[!!!!!, RT, @mleew17:, boy, dats, cold...tyga,...","(0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, ..."
2,"[!!!!!!!, RT, @UrKindOfBrand, Dawg!!!!, RT, @8...","(2, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, ..."
3,"[!!!!!!!!!, RT, @C_G_Anderson:, @viva_based, s...","(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ..."
4,"[!!!!!!!!!!!!!, RT, @ShenikaRoberts:, The, shi...","(0, 1, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, ..."

In [271]:
TF_IDF(df)
df.head()

,tweet,Bow,TF_Idf
0,"[!!!, RT, @mayasolovely:, As, a, woman, you, s...","(0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, ...","(0.13210340371976184, 0.06043302495063963, 0.0..."
1,"[!!!!!, RT, @mleew17:, boy, dats, cold...tyga,...","(0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, ...","(0.20641156831212787, 0.09442660148537442, 0.0..."
2,"[!!!!!!!, RT, @UrKindOfBrand, Dawg!!!!, RT, @8...","(2, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, ...","(0.15726595680924027, 0.07025102243166752, 0.0..."
3,"[!!!!!!!!!, RT, @C_G_Anderson:, @viva_based, s...","(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...","(0.36695389922156063, 0.16786951375177675, 0.1..."
4,"[!!!!!!!!!!!!!, RT, @ShenikaRoberts:, The, shi...","(0, 1, 2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, ...","(0.1270225035766941, 0.05810867783715349, 0.05..."

WITH PREPROCESSING

In [272]:
pp_df=pd.read_csv('labeled_data.csv')
pp_df.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [273]:
pp_df.drop(['Unnamed: 0','count','hate_speech','offensive_language','neither','class'],axis=1,inplace=True)
pp_df=pp_df[:10]
print(pp_df.head(10))
df.shape

                                               tweet
0  !!! RT @mayasolovely: As a woman you shouldn't...
1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
5  !!!!!!!!!!!!!!!!!!"@T_Madison_x: The shit just...
6  !!!!!!"@__BrighterDays: I can not just sit up ...
7  !!!!&#8220;@selfiequeenbri: cause I'm tired of...
8  " &amp; you might not get ya bitch back &amp; ...
9  " @rhythmixx_ :hobbies include: fighting Maria...

(10, 3)

In [274]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [275]:
# pp_df['tweet'] = pp_df['tweet'].str.replace(r'[^\w\s]+', '')
#pp_df['tweet']=pp_df['tweet'].str.lower()
# pp_df['tweet'] = pp_df['tweet'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

pp_df["tweet"] = pp_df["tweet"].map(lambda v : ''.join([i for i in list(v) if i not in punctuation]))
pp_df["tweet"] = pp_df["tweet"].map(lambda v : [word for word in v.lower().split(" ") if word and word not in stop])

In [276]:
words=set()
Words_Extract(pp_df,words)

In [277]:
words=list(words)
print(words)

['hear', 'cganderson', 'another', 'dwn', 'fucking', 'us', 'bad', 'take', 'rt', '57361', 'rhythmixx', 'skinny', 'blows', 'shouldnt', 'get', 'coldtyga', 'always', 'trash', 'cause', 'much', 'big', 'like', 'house', 'complain', 'confused', '8220selfiequeenbri', 'include', 'cleaning', 'hate', 'boy', 'faker', 'tranny', '128514128514128514', 'might', 'urkindofbrand', 'meclaim', 'fuck', 'true', 'girls8221', 'amp', 'dat', 'brighterdays', 'sit', 'got', 'back', 'start', 'hoes', 'mayasolovely', 'bitch', 'dats', 'told', 'going', 'mleew17', 'fighting', 'woman', 'tired', 'ya', 'look', 'somebody', 'coming', 'dawg', 'place', 'hobbies', 'man', 'tmadisonx', 'ever', 'cuffin', 'mariam\n\nbitch', 'thats', 'im', 'still', 'shenikaroberts', '80sbaby4life', 'shit', 'cry', 'bitches', 'hoe', '1st', 'faithful', 'vivabased']

In [278]:
BoW(pp_df,words)
pp_df.head()

,tweet,Bow
0,"[rt, mayasolovely, woman, shouldnt, complain, ...","(0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, ..."
1,"[rt, mleew17, boy, dats, coldtyga, dwn, bad, c...","(0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, ..."
2,"[rt, urkindofbrand, dawg, rt, 80sbaby4life, ev...","(0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, ..."
3,"[rt, cganderson, vivabased, look, like, tranny]","(0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."
4,"[rt, shenikaroberts, shit, hear, might, true, ...","(1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, ..."

In [279]:
TF_IDF(pp_df)
pp_df.head()

,tweet,Bow,TF_Idf
0,"[rt, mayasolovely, woman, shouldnt, complain, ...","(0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, ...","(0.14109559837999544, 0.12590213531383254, 0.1..."
1,"[rt, mleew17, boy, dats, coldtyga, dwn, bad, c...","(0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, ...","(0.14109559837999544, 0.12590213531383254, 0.1..."
2,"[rt, urkindofbrand, dawg, rt, 80sbaby4life, ev...","(0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, ...","(0.1362797405343409, 0.12590213531383254, 0.11..."
3,"[rt, cganderson, vivabased, look, like, tranny]","(0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...","(0.2821911967599909, 0.2518042706276651, 0.226..."
4,"[rt, shenikaroberts, shit, hear, might, true, ...","(1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, ...","(0.14109559837999544, 0.12590213531383254, 0.0..."